@{
    ViewBag.Title = "Inicio";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>


<div class="row g-4">
    <div class="col-xl-3 col-md-6">
        <div class="card border-left-primary shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-primary">Clientes</p>
                        <h4 id="totalcliente">0</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-users fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card border-left-warning shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-warning">Transacciones</p>
                        <h4 id="totalventa">0</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-shopping-bag fa-2x text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card border-left-info shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-info">Ventas Hoy</p>
                        <h4 id="montoVentasHoy">Bs./ 0.00</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-dollar-sign fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card border-left-success shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-success">Ventas Mes</p>
                        <h4 id="montoVentasMes">Bs./ 0.00</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-chart-line fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 mt-2">
    <div class="col-xl-3 col-md-6">
        <div class="card border-left-danger shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-danger">Compras</p>
                        <h4 id="totalcompra">0</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-shopping-cart fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card border-left-success shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-success">Productos</p>
                        <h4 id="totalproducto">0</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-boxes fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card border-left-secondary shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-secondary">Servicios</p>
                        <h4 id="totalservicio">0</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-concierge-bell fa-2x text-secondary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card border-left-dark shadow h-100 py-2 bg-white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-1 text-dark">Proveedores</p>
                        <h4 id="totalproveedor">0</h4>
                    </div>
                    <div class="col-3 text-end">
                        <i class="fas fa-truck fa-2x text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de Ventas
    </div>
    <div class="card-body">
        <form>
            <div class="row align-items-end">
                <div class="col-sm-2">
                    <label class="form-label">Fecha de Inicio:</label>
                    <input class="form-control" type="date" id="txtfechainicio" name="fechainicio" />
                </div>
                <div class="col-sm-2">
                    <label class="form-label">Fecha Fin:</label>
                    <input class="form-control" type="date" id="txtfechafin" name="fechafin" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary w-100" id="btnbuscar" type="button"><i class="fas fa-search"></i> Buscar</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success w-100" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                </div>
            </div>
        </form>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha Venta</th>
                    <th>Cliente</th>
                    <th>Producto/Servicio</th>
                    <th>Tipo Ítem</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Nº de Factura</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>


    <script>
        $(function () {
            const tablaHistorialVentas = $('#tabla').DataTable({
                responsive: true,
                ajax: {
                    url: '@Url.Action("ObtenerHistorialVentas", "Home")',
                    type: "GET",
                    dataType: "json",
                    data: function (d) {
                        d.fechaInicio = $("#txtfechainicio").val();
                        d.fechaFin = $("#txtfechafin").val();
                    },
                    dataSrc: "data"
                },
                columns: [
                    {
                        data: "fechaVenta",
                        render: function (data) {
                            return data ? moment(data).format('DD/MM/YYYY') : '';
                        }
                    },
                    { data: "nombreCliente" },
                    { data: "nombreItem" },
                    { data: "tipoItem" },
                    {
                        data: "precioUnitario",
                        render: d => 'Bs./ ' + parseFloat(d).toFixed(2)
                    },
                    { data: "cantidad" },
                    {
                        data: "subTotal",
                        render: d => 'Bs./ ' + parseFloat(d).toFixed(2)
                    },
                    { data: "idVenta" }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.2.1/i18n/es-ES.json'
                },
                ordering: false,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });

            $("#btnbuscar").on("click", () => tablaHistorialVentas.ajax.reload());
        });

        function animarContador(id, valorFinal, formato = false) {
            const $el = $("#" + id);
            $({ countNum: 0 }).animate(
                { countNum: valorFinal },
                {
                    duration: 1000,
                    easing: "swing",
                    step: function () {
                        let val = formato ? `Bs./ ${this.countNum.toFixed(2)}` : Math.floor(this.countNum);
                        $el.text(val);
                    },
                    complete: function () {
                        let val = formato ? `Bs./ ${valorFinal.toFixed(2)}` : valorFinal;
                        $el.text(val);
                    }
                }
            );
        }

        $(document).ready(function () {
            $("#txtfechainicio, #txtfechafin").val(new Date().toISOString().split('T')[0]);

            $.ajax({
                url: '@Url.Action("VistaDashBoard", "Home")',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    const d = data.resultado;

                    animarContador("totalcliente", d.TotalCliente);
                    animarContador("totalventa", d.TotalVenta);
                    animarContador("montoVentasHoy", parseFloat(d.MontoTotalVentasHoy), true);
                    animarContador("montoVentasMes", parseFloat(d.MontoTotalVentasMes), true);
                    animarContador("totalcompra", d.TotalCompra);
                    animarContador("totalproducto", d.TotalProducto);
                    animarContador("totalservicio", d.TotalServicio);
                    animarContador("totalproveedor", d.TotalProveedor);
                },
                error: function (error) {
                    console.error("Error al cargar datos del dashboard:", error);
                }
            });
        });


    </script>
}
